
  <div class='card'>
    <picture><img id="beerpictures" src='{{this.image_url}}' alt='{{this.name}}' /></picture>
    <div class='beerdescription'>
    <p>{{this.name}}</p>
    <p>{{this.description}}</p>
    <p>{{this.tagline}}</p>
    </div>
  </div>
</a>